.header .container {
  padding-top: 30px;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}

.header__registration {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 6%;
}

@media (max-width: $tablet-width) {
  .header .container {
    padding-bottom: 200px;
  }

  .header__registration {
    font-size: 14px;
    line-height: 22px;
    padding: 8px 12px;
    border-radius: 5px;
  }
}

@media (max-width: $mobile-width-only) {  
  .header .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
 }