.page-body {
  max-height: 937px;
  margin: 0;
  color: white;
	align-content: start;
  background-size: cover;
  font-family: 'Montserrat', 'Arial', sans-serif; 
}

.wrapper {
  transition: all 1s;
}

@keyframes fade {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

.fade {
  animation: fade 3s infinite ease-in-out;
}

.first-slide {
  //background: linear-gradient(-90deg, #ae320a 19.87%, #f75d2b 80.11%), #0a0e20;
  background-color: #ae320a;
  position: relative;
  transition: all 2s;

  &::before {
    content: "";
    position: absolute;
    width: 1320px;
    height: 1089px;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    right: 0;
    top: -40px;
  }
}

.second-slide {
  background-color: #37c058;
  //background: linear-gradient(-90deg, #37c058 19.87%, #4bdb6d 80.11%), #0a0e20;
  position: relative;
  transition: all 2s;

  &::before {
    content: "";
    position: absolute;
    width: 1036px;
    height: 847px;
    background-image: url("../img/letter.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 60px;
  }
}

.third-slide {
  color: black;
  background-color: #ffc060;
  //background: linear-gradient(-90deg, #ffc060 19.87%, #ffe79a 80.11%), #0a0e20;
  position: relative;
  transition: all 2s;

  &::before {
    content: "";
    position: absolute;
    width: 1049px;
    height: 815px;
    background-image: url("../img/cat.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 100px;
  }
}

.fourth-slide {
  background-color: #8fbe15;
  //background: linear-gradient(-90deg, #8fbe15 19.87%, #aad50e 80.11%), #0a0e20;
  position: relative;
  transition: all 2s;

  &::before {
    content: "";
    position: absolute;
    width: 1056px;
    height: 772px;
    background-image: url("../img/m.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 140px;
  }
}
