.slider {
  position: relative;
  width: 351px;
  min-height: 700px;
  margin-left: 20px;
}

.slider__item {
  opacity: 0;
  position: absolute;
  width: 100%;
  right: 0;
  transition: opacity 2s ease-in-out;
}

.slider__item--active {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.slider__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 110px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: 10px;
}

.slider__characteristic {
  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }

  p {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 26px;
  }

  span {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    display: inline-block;
    vertical-align: top;
  }
}

.slider__link {
  margin-top: 40px;
  max-width: 288px;
  display: block;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 43px;
}

@media (max-width: $tablet-width) {
  .slider {
    width: 230px;
  }

  .slider__characteristic {
    h3 {
      font-size: 16px;
      line-height: 24px;
    }
  
    p {
      font-size: 64px;
      line-height: 64px;
    }
  }

  .slider__link {
    max-width: 218px;
    font-size: 20px;
    line-height: 28px;
    padding: 20px 43px;
  }

  .slider__buttons {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: $mobile-width-only) { 
  .slider {
    max-width: 230px;
    margin-left: 0;
  }

  .slider__buttons {
    max-width: 100px;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-right: 0;
  }
 }