a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .container {
    max-width: 620px;
  }
}

@media (max-width: $mobile-width-only) {
  .container {
    max-width: 300px;
  }
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/bebasneuecyrillic-regular.woff2') format('woff2'), url('../fonts/bebasneuecyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
}
