// Colors

$black: #000000;
$blue: #00b2ff;
$dark: #999999;
$darkest: #1b2d37;
$darkgrey: #666666;
$grey: #788891;
$lightgrey: #ebebeb;
$icon: #c4c4c4;
$white: #ffffff;
$border: #626962;
$social: #cdcdcd;

$ptmono: "PT Mono", Arial, monospace;

//Resolutions

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width-only: 767px;
